pre-commit:
  image: af.headoffice.pivlab:6005/python:3.11
  tags: [immortal]
  before_script:
    - export FORCE_COLOR=1
    - export PY_COLORS=1
    - export CLICOLOR_FORCE=1
    - export PRE_COMMIT_COLOR=always
    - poetry install && . .venv/bin/activate
  script:
    - pre-commit run -a
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  cache:
    paths:
      - .cache/pre-commit
      - .venv/
    key: "pre-commit-cache"
