default:
  interruptible: false
  image: af.headoffice.pivlab:6005/python:3.11
  tags: [immortal]

.base_job:
  variables:
    FORCE_COLOR: 1
    PY_COLORS: 1
    CLICOLOR_FORCE: 1
    PRE_COMMIT_COLOR: always
  before_script:
    - poetry install && . .venv/bin/activate
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

pre-commit:
  image: af.headoffice.pivlab:6005/pre-commit:6.0.0
  extends: [.base_job]
  script:
    - pre-commit run -a -v

validate:
  extends: [.base_job]
  script:
    - export DEBUG=true
    - pivlabform -c configurations/templates/global_template.yaml -v
